:root {
  color: rgb(235, 235, 235);
  background: linear-gradient(rgb(19, 24, 25), rgb(31, 31, 31));
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(19, 24, 25);
    background: linear-gradient(rgb(235, 235, 235), rgb(255, 255, 255));
  }
}

.input-field {
  border-radius: 0.25rem;
  background: rgb(31, 31, 31);
  color: rgb(235, 235, 235);
}

@media (prefers-color-scheme: dark) {
  .input-field {
    background: rgb(235, 235, 235);
    color: rgb(19, 24, 25);
  }
}

.mapbox {
  width: 80%;
  height: 490px;
}

body {
  background: linear-gradient(120deg, #e0f5ff, #f0f0f0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.animated-word {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  transition: 0.4s;
  transform: translateY(0);
  cursor: pointer;
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(120deg, hsl(163, 72%, 52%), hsl(184, 100%, 38%));
  background-clip: text;
  -webkit-background-clip: text;
}

.letter:hover {
  transform: translateY(-5px);
}

.direction-button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.direction-button:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.direction-button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.direction-button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

#map {
  border: 4px solid #000;
  /* Adjust the thickness and color as needed */
}

/* Rating box styles */
.rating-box {
  background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00);
  border-radius: 5px;
}

.indicator-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid hsl(163, 72%, 52%);
  /* Change border-top to use the gradient */
  margin-top: -40px;
  /* Adjust the margin to position the tip at the rating box */
}

.rating-labels {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}